PORT=25000
MONGODB_URI=mongodb://localhost:27017/creadent
JWT_SECRET=your_jwt_secret_key

# Local development (default)
# FRONTEND_URL=http://localhost:3000
# NODE_ENV=development

# Production
FRONTEND_URL=https://creadentsmiles.com
NODE_ENV=production
